[user]
    email = [EMAIL]
    name = [FULL_NAME]
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    commend = commit --amend
    unstage = reset HEAD --
    undo = reset --soft HEAD~
    untag = "!f() { git push --delete origin $1; git tag --delete $1; }; f"
    pushall = "!f() { git push --all origin; git push --tags; }; f"
    pp = "!f() { git pull && git push; }; f"
    amid = "!f() { git diff $1..$2 --name-status; }; f"