[user]
    email =
    name =
[alias]
    l = log --graph
    f = fetch -pv
    br = branch
    st = status
    new = checkout -b
    rename = branch -m

    ci = commit
    co = checkout
    cp = !git co $1 && git pull origin $1
    cia = !git add . && git ci
    commend = ci --amend

    pa = !git push --all origin && git push --tags
    pp = !git pull && git push

    sync = !git f; git cp master; git cp develop

    clear = !git add . && git reset --hard HEAD
    untag = !git push --delete origin $1 && git tag --delete $1
    unstage = reset HEAD --
    uncommit = reset --soft HEAD~

    all-diffs = !git diff $1..$2 --name-status
    new-diffs = !git all-diffs --diff-filter=A
    cop-diffs = !git all-diffs --diff-filter=C
    del-diffs = !git all-diffs --diff-filter=D
    mod-diffs = !git all-diffs --diff-filter=M
    ren-diffs = !git all-diffs --diff-filter=R
    reset-chmod = !git diff -p | grep -E \"^(diff|old mode|new mode)\" | sed -e \"s/^old/NEW/;s/^new/old/;s/^NEW/new/\" | git apply
